@import url('https://fonts.googleapis.com/css?family=Pangolin');

/* navigation */
nav {
    font-family: 'Pangolin', cursive;
}

nav .navigation-group .profile-navigation img {
    position: relative;
    bottom: 4.5px;
    margin-right: 4px;
    float: left;
}

/* new feed */
.new-feed .new-feed-card .feed-topbar .user-avatar img{
    position: relative;
    bottom: 1.2rem;
}

.new-feed .new-feed-card .feed-topbar .user-name h3 {
    font-size: 1.2rem;
    position: relative;
    top: 5px;
}

.new-feed .new-feed-card .feed-topbar .user-name span {
    font-size: 0.8rem;
    position: relative;
    bottom: 8px
}

.new-feed .new-feed-card .feed-topbar .feed-option a {
    color: grey;
}
